@font-face {
  font-family: 'Bebas';
  src: url('assets/fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
}

* {
  font-family: 'Roboto', 'Arial', 'Helvetica', 'Segoe UI', sans-serif !important;
}

body {
  padding-top: 80px !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.logo {
  font-family: 'Bebas';
}

.break-words {
  word-break: break-word;
}

.modal-card-head,
.modal-card-foot {
  border-radius: 0 !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
  border-color: hsl(221, 14%, calc(24% + 0%)) !important;
  box-shadow: none !important;
}

input:active,
select:active,
textarea:active,
button:active {
  outline: none !important;
  border-color: hsl(221, 14%, calc(90% + 0%)) !important;
  box-shadow: none !important;
}
